#product-details-price {
  .price-total {
    // color: #2424ca;
    font-weight: bold;
    text-align: center;
  }
  h3.with-lines {
    color: grey;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 0.1em;
    margin: 10px 0 20px;
    span {
      background: #fff;
      padding: 0 10px;
    }
  }
}
